/*block:player*/
.b-player{
    width: 503px;
    display: inline-block;
    position: fixed;
    top: 200px;
    left:0;
}

/*type:icon*/
.t-icon{
    margin:0;
    padding:0;
    /*vertical-align:bottom;*/
}

/*type:tip*/
.t-tip{
    position: absolute;
    left: 0;
    top: 0;
}

/*wrapper:x-action,w-action*/
.t-action , .w-action{
    float: left;
    margin:0;
    padding:0;
}

/*state*/
.t-action.s-visible{
    visibility: visible;
}
.t-action.s-hidden{
    visibility: hidden;
}

.b-player .t-action{
    /*vertical-align: top;*/
}

/*elment:play*/
.e-play{
    width:75px;
    height:75px;
    background-color: #272727;
    cursor: pointer;
}
.e-play{
    background-image: url(../images/icon-play.png);
    background-position: center center;
    background-repeat: no-repeat;
}



/*element:shrink*/
.e-shrink{
    width: 20px;
    height: 75px;
    background-color: #0c0c0c;
    background-image: url(../images/icon-shrink.png);
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

/*wapper:full*/
.w-full{
    position: relative;
    left:0;
    top: 0;
    width: 392px;
    height: 75px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #272727;
}

.e-action-expand{
    width: 14px;
    height:75px;
    background-color: #000000;
}
.e-action-full{
    width:335px;
    height:75px;
}
.c-clearfix:after{
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}



/*element:error*/
.e-error{
    top: 12px;
    margin-left: 8px;
    font-size: 14px;
    color: #fff;
}

/*wrapper:volume*/
.w-volume{
    position: absolute;
    top:16px;
    right:0;
    width:100px;
    height:8px;
}
/*element:hom*/
.e-hom{
    display: inline-block;
    width:9px;
    height:8px;
    background-image: url(../images/icon-hom.png);
    vertical-align: top;
}
.e-minus{
    display: inline-block;
    width: 5px;
    height: 8px;
    background-image: url(../images/icon-minus.png);
    background-position: center center;
    background-repeat: no-repeat;
    vertical-align: top;
}
.e-plus{
    display: inline-block;
    width: 5px;
    height: 8px;
    background-image: url(../images/icon-plus.png);
    background-position: center center;
    background-repeat: no-repeat;
    vertical-align: top;
}
.e-volume{
    position: relative;
    left:0;
    top: 0;
    width:55px;
    height:8px;
    display: inline-block;
    vertical-align: top;
}
.e-one{
    margin-top: 3px;
    width:28px;
    height:2px;
    background-color: #ffc900;
    display: inline-block;
    vertical-align: top;
}
.e-dot{
    margin-top: 2px;
    position: absolute;
    left:49%;
    top:0;
    width: 4px;
    height: 4px;
    background-image: url(../images/icon-dot.png);
    background-position: center center;
    background-repeat: no-repeat;
    vertical-align: top;
    cursor: pointer;
}
.e-zero{
    margin-top: 3px;
    width:27px;
    height:2px;
    background-color: #0c0c0c;
    display: inline-block;
    vertical-align: top;
}

/*wapper:progress*/
.w-progress{
    position: absolute;
    top: 36px;
    width:392px;
    height:7px;
}
.e-left{
    position: absolute;
    top: 2px;
    left: 0;
    width:30px;
    height:3px;
    background-color: #ffc900;
    z-index: 9;
}
.e-loaded{
    position: absolute;
    top:2px;
    left: 0;
    width:300px;
    height:3px;
    background-color: #4d4d4d;
    z-index: 8;
}
.e-drag{
    position: absolute;
    left: 30px;
    top: 0;
    width:7px;
    height:7px;
    background-image: url(../images/icon-drag.png);
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 10;
}
.e-all{
    position: absolute;
    left: 0;
    top: 2px;
    width: 100%;
    height:3px;
    background-color: #0c0c0c;
}